/*  The code on lines 3-7 will remove the bullets and spacing from the list we created. */ 

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  }

/* The code on lines 10-12 will cause the list to display inline, one item after the other. */   
li {
  display: inline;
}